:root {
    /* --cor_de_fundo: #f7f2d7;  */
    --cor_de_fundo: #faf7e4; 
}

:root {
    /* --cor_de_fundo: #f7f2d7;  */
    --cor_secundaria: #cdcba5; 
}


body {
    width: 75%;
    height: 100%;
    background-image: url(imagens/fundo.png);
}

img {
    border-width: 0px 0px 3px 0px;
    border-color: var(--cor_secundaria);

    border-style: dotted;
}

t{
    margin-left: 1%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-left: 1%;
    margin-top: 1%;
    text-indent: 1%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor_de_fundo);
}


h1{
    text-indent: 1%;
    background-color: var(--cor_de_fundo);
    margin-bottom: 1%;
    color: var(--cor_secundaria);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{  
    margin-left: 1%;
    font-size: x-large;
    color: rgb(61, 3, 137);
    text-decoration: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.titulo{
    margin-left: 1%;
    font-weight: bold;
    color: var(--cor_secundaria) ;
}

.descricao{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor_de_fundo);
}

.container{
    margin: 0;
    background-color: var(--cor_secundaria);
}


.imagem {
    margin-left: 1%;
    width: 50%;
    border: 10px solid var(--cor_secundaria) ;
}



.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    font-size: x-large;
    color: rgb(61, 3, 137);
    background-color: var(--cor_secundaria);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.textStyle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}